@model OrangeBricks.Web.Controllers.Offers.ViewModels.OffersOnPropertiesViewModel
@{
    ViewBag.Title = "My Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>My Offers</h2>
<p>Here is a list of the offers on the properties you have made:</p>
@foreach (var property in Model.Properties)
{
    <hr />
    <h3>@property.StreetName</h3>
    <p>@property.NumberOfBedrooms bedroom @property.PropertyType</p>

    foreach (var offer in property.Offers)
    {
        <hr />
        <div>
            <p><strong>Offer Amount: </strong> £@offer.Amount</p>
            <p><strong>Offer Made At: </strong> @offer.CreatedAt.ToLongTimeString() on @offer.CreatedAt.ToShortDateString()</p>
            <p><strong>Status: </strong> @offer.Status</p>
        </div>


    }

}